<h1>Shopping Cart</h1>
<div class="row col-10" *ngIf="cart$ | async as cart">
  <p>
    You have {{ cart.totalItemsCount }} items in your shopping cart.
  </p>
  <ng-container *ngIf="cart.items.length">
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>Product</th>
          <th class="text-center">Quantity</th>
          <th class="text-right">Price</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of cart.items">
          <td class="align-middle">
            <div [style.backgroundImage]="'url(' +item.imageUrl + ')'" class="thumbnail"></div>
          </td>
          <td class="align-middle">
            {{ item.title }}
          </td>
          <td class="text-center align-middle">
            <product-quantity [product]="item" [shopping-cart]="cart"></product-quantity>
          </td>
          <td class="text-right align-middle">
            {{ item.totalPrice | currency:'USD':2 }}
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th class="text-right">{{ cart.totalPrice | currency:'USD':2 }}</th>
        </tr>
      </tfoot>
    </table>
    <button *ngIf="cart.items.length" class="btn btn-primary mr-1" routerLink="/check-out">Check Out</button>
    <button (click)="clearShoppingCart()" class="btn btn-danger ml-1">Clear Shopping Cart</button>

  </ng-container>
</div>
