/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";
@import "https://fonts.googleapis.com/css?family=Roboto";

body {
  font-family: "Roboto", "Helvetica Neue", sans-serif;
}

.container {
  padding-top: 6rem;
}

.dropdown-item.active, .dropdown-item:active {
  background-color: #607d8b !important;
  color: #fff !important;
  text-decoration: none;
}
